<!-- Dropdown -->
<li class="nav-item dropdown">
    <a data-mdb-dropdown-init class="nav-link text-light dropdown-toggle" href="#"
       id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
        Identity
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li>
            <a class="dropdown-item text-dark" asp-area="" asp-controller="Users" asp-action="Index">User Management</a>
        </li>
        <li>
            <a class="dropdown-item text-dark" asp-area="" asp-controller="Roles" asp-action="Index">Role Management</a>
        </li>

    </ul>
</li>



