
<li class="nav-item">
    <select id="staticSelect" class="form-control">

        <option value="bootstrap.min.css">Option 0</option>
        <option value="bootstrap.min (1).css">Option 1</option>
        <option value="bootstrap.min (2).css">Option 2</option>
        <option value="bootstrap.min (3).css">Option 3</option>
        <option value="bootstrap.min (4).css">Option 4</option>
        <option value="bootstrap.min (5).css">Option 5</option>
        <option value="bootstrap.min (6).css">Option 6</option>
        <option value="bootstrap.min (7).css">Option 7</option>
        <option value="bootstrap.min (8).css">Option 8</option>
        <option value="bootstrap.min (9).css">Option 9</option>
        <option value="bootstrap.min (10).css">Option 10</option>
        <option value="bootstrap.min (11).css">Option 11</option>
        <option value="bootstrap.min (12).css">Option 12</option>
        <option value="bootstrap.min (13).css">Option 13</option>
        <option value="bootstrap.min (14).css">Option 14</option>
        <option value="bootstrap.min (15).css">Option 15</option>
        <option value="bootstrap.min (16).css">Option 16</option>
        <option value="bootstrap.min (17).css">Option 17</option>
        <option value="bootstrap.min (18).css">Option 18</option>
        <option value="bootstrap.min (19).css">Option 19</option>
        <option value="bootstrap.min (20).css">Option 20</option>

    </select>
</li>


