@{
    ViewData["Title"] = "Team Overview";
}

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>

<div class="container mt-5">

    @*   <h2 class="text-center mb-4"><strong>Supervision</strong> </h2> *@
    <br />
    <div class="section-title">
        <span>Supervision</span>
        <h2><strong>Supervision </strong></h2>
    </div>
    <br />

    <div class="row justify-content-center">
        @* Supervisor 1 (Horizontal Design Without Frame) *@
        <div class="col-md-6 mb-4">
            <div class="d-flex align-items-center">
                <div class="me-3">
                    <img src="~/Home/assets/img/1.jpeg" class="img-fluid rounded" alt="Supervisor 1" style="width: 150px; height: 150px; object-fit: cover;">
                </div>
                <div>
                    <p class="mb-1">Professor </p>
                    <h5>Dina almanakhly</h5>
                    <a href="#" class="btn btn-primary btn-sm"><i class="fab fa-linkedin"></i></a>
                    <a href="#" class="btn btn-warning btn-sm"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="btn btn-info btn-sm"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="btn btn-light btn-sm"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="btn btn-dark btn-sm"><i class="fab fa-github"></i></a>

                </div>
            </div>
        </div>

        @* Supervisor 2 (Horizontal Design Without Frame) *@
        <div class="col-md-6 mb-4">
            <div class="d-flex align-items-center">
                <div class="me-3">
                    <img src="~/Home/assets/img/2.jpeg" class="img-fluid rounded" alt="Supervisor 2" style="width: 150px; height: 150px; object-fit: cover;">
                </div>
                <div>
                    <p class="mb-1">Professor </p>
                    <h5>  Riham Moharam  </h5>
                    <a href="#" class="btn btn-primary btn-sm"><i class="fab fa-linkedin"></i></a>
                    <a href="#" class="btn btn-warning btn-sm"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="btn btn-info btn-sm"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="btn btn-light btn-sm"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="btn btn-dark btn-sm"><i class="fab fa-github"></i></a>

                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="section-title">
        <span>Development </span>
        <h2><strong>Development</strong></h2>
    </div>
    <br />

    <div class="row justify-content-center">
        @* Youssef Mohamed *@
        <div class="col-md-4 col-lg-3 mb-4">
            <div class="card">
                <img src="~/Home/assets/img/Y2.jpeg" class="card-img-top img-fluid" alt="Youssef Mohamed" style="height: 250px; object-fit: cover;">
                <div class="card-body text-center">
                    <h5 class="card-title">Youssef Mohamed</h5>
                    <p class="card-text">Lead Developer</p>
                    <p class="card-text">Specializes in Backend .NET Development</p>
                    <div class="social-links">
                        <a href="https://www.linkedin.com/in/youssef-mohamed-71a368217" class="btn btn-primary btn-sm"><i class="fab fa-linkedin"></i></a>
                        <a href="#" class="btn btn-warning btn-sm"><i class="fab fa-instagram"></i></a>
                        <a href="https://twitter.com/Y_mohamed_Ali?t=uW04TUW-iDrdq0u9GFRm9g&s=09" class="btn btn-info btn-sm"><i class="fab fa-twitter"></i></a>
                        <a href="https://github.com/JoeGitHubPro" class="btn btn-dark btn-sm"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>

        @* Eslam Eid *@
        <div class="col-md-4 col-lg-3 mb-4">
            <div class="card">
                <img src="~/Home/assets/img/E.jpg" class="card-img-top img-fluid" alt="Eslam Eid" style="height: 250px; object-fit: cover;">
                <div class="card-body text-center">
                    <h5 class="card-title">Eslam Eid</h5>
                    <p class="card-text">Frontend Developer</p>
                    <p class="card-text">Expert in HTML & CSS and JavaScript - React</p>
                    <div class="social-links">
                        <a href="https://www.linkedin.com/in/eslam-eid-7599b3273?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="btn btn-primary btn-sm"><i class="fab fa-linkedin"></i></a>
                        <a href="#" class="btn btn-warning btn-sm"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.facebook.com/profile.php?id=100039717816666&mibextid=ZbWKwL" class="btn btn-info btn-sm"><i class="fab fa-facebook"></i></a>
                        <a href="https://github.com/EslamEid77" class="btn btn-dark btn-sm"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>

        @* Basem Mohamed *@
        <div class="col-md-4 col-lg-3 mb-4">
            <div class="card">
                <img src="~/Home/assets/img/B.jpeg" class="card-img-top img-fluid" alt="Basem Mohamed" style="height: 250px; object-fit: cover;">
                <div class="card-body text-center">
                    <h5 class="card-title">Basem Mohamed</h5>
                    <p class="card-text">Full Stack Developer</p>
                    <p class="card-text">Experienced in HTML & CSS and JavaScript</p>
                    <div class="social-links">
                        <a href="https://www.linkedin.com/in/basem-mohamed-1a0a8a237?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="btn btn-primary btn-sm"><i class="fab fa-linkedin"></i></a>
                        <a href="#" class="btn btn-warning btn-sm"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.facebook.com/profile.php?id=100010948240014&mibextid=ZbWKwL" class="btn btn-info btn-sm"><i class="fab fa-facebook"></i></a>
                        <a href="https://github.com/Basemmohamed22" class="btn btn-dark btn-sm"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>

        @* Ahmed Salah *@
        <div class="col-md-4 col-lg-3 mb-4">
            <div class="card">
                <img src="~/Home/assets/img/A.jpeg" class="card-img-top img-fluid" alt="Ahmed Salah" style="height: 250px; object-fit: cover;">
                <div class="card-body text-center">
                    <h5 class="card-title">Ahmed Salah</h5>
                    <p class="card-text">DevOps Engineer</p>
                    <p class="card-text">Skilled in HTML & CSS and JavaScript</p>
                    <div class="social-links">
                        <a href="https://www.linkedin.com/in/ahmed-salah-961454205?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" class="btn btn-primary btn-sm"><i class="fab fa-linkedin"></i></a>
                        <a href="#" class="btn btn-warning btn-sm"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.facebook.com/profile.php?id=100013513329009&mibextid=LQQJ4d" class="btn btn-info btn-sm"><i class="fab fa-facebook"></i></a>
                        <a href="https://github.com/AhmedSalah202" class="btn btn-dark btn-sm"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

